/* TODO */

/* Reset CSS */
/* Universal selector (*) targets every element (regardless tag, class, ID) */
*{
    margin: 0;
    padding: 0;
    outline: 1px dashed #ddd;
}

html{
    font-size: 16px; /* 1 rem used on the page == 16 px */
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: inherit; /* inherit color from parent element */
}

.container{
    display: grid;
    grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end];
    grid-template-rows: repeat(6, min-content);
}

/* TODO */

/** Start of Desktop Section **/
/** ************************ **/

/* Set up the navbar for the desktop */
nav{
    display: flex;
    grid-column: full-start / full-end;
    background-color: #fff;
    justify-content: space-between;
    height: 4rem;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding-right: 1rem;
    align-content: center;
}

nav ul li:last-child{
    padding-right: 1.5rem;
}

nav ul li a{
    font-size: 0.75rem;
}

nav > a{
    display: flex;
    align-items: center;
}

/* Set up logo styles */

.logo{
    height: 3rem;
    margin-left: 1.5rem;
}

.logoname{
    text-transform: uppercase;
    line-height: 2rem;
}

.logoname-bold{
    font-weight: bold;
    color: #484848;
}

.logoname-light{
    font-weight: lighter;
    color: #aaa;
}

/* Set up navigation links' styles */


/* Set up header area */
header{
    background-color: #d8d8d8;
    display: flex;
}

header img{
    width: 100%;
    padding: 2rem 1.5rem;
}

header>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
    align-items: left;
}

header div > h1{
    font-size: xx-large;
}

header div > h2{
    font-size: large;
}

header div > a{
    color: #fff;
    display: block;
    width: 100%;
    background-color: #484848FF; /* Hex code with alpha */
    text-align: center;
    padding: 0.5rem 0; /* top-bottom(0.5rem), left-right(0) */
}
/* hover effect for call to action link */


/* Set up practice section */


/* Hide events mobile */


/** ********************** **/
/** End of Desktop Section **/


/* TODO */

/** Start of Mobile Section **/
/** *********************** **/

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem ) {
    

}

/* *********************** */
/** End of Mobile Section **/