/* TODO */

/* Reset CSS */
/* Universal selector (*) targets every element (regardless tag, class, ID) */
*{
    margin: 0;
    padding: 0;
    /* outline: 1px dashed #000; */
}

html{
    font-size: 16px; /* 1 rem used on the page == 16 px */
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: inherit; /* inherit color from parent element */
}

.container{
    display: grid;
    grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end];
    grid-template-rows: repeat(6, min-content);
}

.section-title{
    padding: 2rem 0;
    text-align: center;
}

/* TODO */

/** Start of Desktop Section **/
/** ************************ **/

/* Set up the navbar for the desktop */
nav{
    display: flex;
    grid-column: full-start / full-end;
    background-color: #fff;
    justify-content: space-between;
    height: 4rem;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding-right: 1rem;
    align-content: center;
}

nav ul li:last-child{
    padding-right: 1.5rem;
}

nav ul li a{
    font-size: 0.75rem;
}

nav > a{
    display: flex;
    align-items: center;
}

/* Set up logo styles */

.logo{
    height: 3rem;
    margin-left: 1.5rem;
}

.logoname{
    text-transform: uppercase;
    line-height: 2rem;
}

.logoname-bold{
    font-weight: bold;
    color: #484848;
}

.logoname-light{
    font-weight: lighter;
    color: #aaa;
}

/* Set up navigation links' styles */


/* Set up header area */
header{
    display: flex;                  /* Enable flexbox layout  */
    align-items: center;            /* Centers content vertically */
    justify-content: center;        /* Center content horizontally */
    background-color: #d8d8d8;      /* Set the bkgnd colour */  
}

.imgcontainer{
    padding: 2rem 1.5rem;           /* Render padding of the containter as required */
}

header > img{
    max-width: 100%;                /* Set the max width img can take */
    height: auto;                   /* Set img to maintain proportionality - aspect ratio*/
}

header > div{
    display: flex;
    flex-direction: column;         /* Set content in a single column*/
    justify-content: space-evenly;  /* Center content horizontally */
    height: 18rem;                  /* Adjust desired height of container */
    padding-right: 2rem;            /* padding for right header */
}

header div > h1{
    font-size: xx-large;
}

header div > h2{
    font-size: large;
}

header div > a{
    color: #fff;
    display: block;
    width: 100%;
    background-color: #484848FF; /* Hex code with alpha */
    text-align: center;
    padding: 0.5rem 0; /* top-bottom(0.5rem), left-right(0) */
}

/* hover effect for call to action link */


/* Set up practice section */

.practice{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.practice > .imgcontainer > img{
    max-width: 100%;
    height: auto;
}

.practice > .practice-text{
    padding: 0 1.5rem;
}

.practice > .practice-text > h1{
    font-size: xx-large;
    margin-bottom: 1.5rem;
}

.practice > .practice-text > p{
    font-size: small;
    font-weight: lighter;
}

.practice > .practice-text > p > span{
    font-weight: bold;
    display: block;
    padding: 2rem 0;
    margin: auto;
}

/* Set up events section */

.events{
    display:grid;
    grid-template-rows: repeat(3, min-content);
    border-left: 1px solid #e7e7e7;
}

.events .events-block:first-child{
    padding-top: 2rem;
}

.events .events-block {
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    padding: 1rem;
}

.events .events-block:last-of-type {
    background-color: #d8d8d8;
}

.events > .events-block > .events-img-desktop{
    width: 100%;
    height: auto;
}

.events >.events-block > .events-text{
    margin-left: 1rem;
    height: 100%;
    align-content: center;
}

.events >.events-block > .events-text h3{
    font-size: large;
}

.events > .events-block > .events-text p{
    font-size: small;
}

.events >.events-block > .events-text a{
    color: #3434c6;
    font-size: small;
}

/* Set up learning section */

.learning{
    background-color: #d8d8d8;
    grid-column: full-start / full-end;
}

.courses-cards{
    padding: 0 4.5rem 2rem;
    display: grid;
    grid-template-columns: 0.333fr 0.333fr 0.333fr;
    column-gap: 2rem;
}

.card{
    background-color: #fff;
}

.card img{
    width: 100%;
    height: auto;
}


.card-text{
    padding: 1rem 1rem min(1.5rem) 1rem;
}

.card-text p{
    margin-top: 0.5rem
} 

/* End of learning section */

/* Set up thesis section */

.thesis{
    background-color: #f3f5f5;
    grid-column: full-start / full-end;
}

.thesis-inner{
    display: grid;
    grid-template-columns: 60fr 40fr;
}

.left-thesis{
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    padding-right: 1.5rem;
}

.left-thesis video{
    width: 100%;
}

.left-thesis-text{
    padding-top: 1.5rem;
}

.left-thesis-text p{
    padding-top: 0.5rem;
}

.right-thesis{
    display: grid;
    grid-template-rows: repeat(2, min-content);
}

.right-thesis > .thesis-block{
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    align-items: center;
    padding: 1rem;
}

.right-thesis > .thesis-block:first-of-type{
    background-color: #d8d8d8;
}

.right-thesis > .thesis-block > img{
    width: 100%;
}

.right-thesis > .thesis-block > .block-text{
    padding: 1rem;
}

.right-thesis > .thesis-block > .block-text h3{
    font-size: large;
}

.right-thesis > .thesis-block > .block-text p{
    font-size: small;
}


/* End of thesis section */

/* Set up footer section */
footer{
    grid-column: full-start / full-end;
    display: flex;
    justify-content: space-between;
    background-color: #f3f5f5;
    font-size: 0.8rem;
    color:#a7a7a6;
    border-top: 1px solid #e1e2e3;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    padding-right: 0.5rem;
}

footer ul{
    list-style: none;
    display: flex;
}

footer ul li{
    margin-right: 0.5rem;
}

footer ul li a{
    color: #3434c6;
}

footer ul li a:visited{
    color: #f00;
}

/* Hide nav for mobile */
#nav-mobile{
    display: none;
}

/* Hide events mobile */

.events > .events-block > .events-img-mobile{
        display: none;
    }

.events-h3-mobile{
    display: none;
}

/** ********************** **/
/** End of Desktop Section **/


/* TODO */

/** Start of Mobile Section **/
/** *********************** **/

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem ) {

    /* Hide the desktop <nav> */
    nav, .practice{
        display: none;
    }

    /* Display mobile <nav> */
    #nav-mobile{
        display: flex;
        justify-content: space-around;
        grid-column: full-start/full-end;
        height: 4rem;
    }

    /* Set header image to take up entire viewport width */
    header{
        display: grid;
        grid-column: full-start/full-end;
    }

    .imgcontainer{
        padding: 0;
    }

    header > div {
        display: block;
        width: auto;
        padding: 2rem 1rem;
        height: auto;
    }

    header > div > h2{
        margin-top: 2rem;
        margin-bottom: 1.5rem;

    }

    /* Set up events for mobile */
    .events{
        display: grid;
        grid-column: full-start / full-end;
        border-left: none;
    }
    
    .events > .events-block{
        display: flex;
        flex-direction: column;
        padding: 4rem 1rem 0 1rem;
        border-bottom: none;
    }

    .events > .events-block:first-child{
        padding-top: 1rem;
    }

    .events .events-block:last-of-type {
        background-color: #fff;
        padding-bottom: 2rem;
    }

    .events > .events-block > .events-img-desktop{
        display: none;
    }

    .events > .events-block > .events-img-mobile{
        display: block;
        width: 100%;
        height: auto;
    }

    .events > .events-block > .events-text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        margin-left: 1rem;
        height: 5rem;
    }

    .events-h3-desktop{
        display: none;
    }

    .events-h3-mobile{
        display: flex;
    }

    /* Set up learning for mobile */

    .learning{
        background-color: #fff;
        border: 1px solid #e8ebea
    }

    .section-title{ /* applicable for thesis section as well */
        padding: 2rem 0 1rem;
        text-align: center;
    }

    .courses-cards{
        padding: 0 1rem 0.5rem 1rem;
        display: flex;
        flex-direction: column;
    }

    .courses-cards:last-of-type{
        margin-bottom: 2rem;
    }

    .courses-cards > .card{
        background-color: #d8d8d8;
        margin-bottom: 0.5rem;
    }

    .courses-cards > .card:last-of-type{
        margin-bottom: 0;
    }

    .courses-cards img, .courses-cards p{
        display: none;
    }

    .courses-cards > .card .card-text{
        padding: 1rem 0 1.5rem 1rem;
    }

    /* Set up thesis for mobile */

    .right-thesis, .left-thesis-text{
        display: none;
    }

    .thesis-inner{
        display: block;
        padding-bottom: 1.5rem;
    }

    .left-thesis{
        padding: 0;
    }

    /* Set up footer for mobile */

    footer{
        padding: 1rem;
    }

    footer > ul{
        display: none;
    }
}

/* *********************** */
/** End of Mobile Section **/